@model Decanatus.BLL.ViewModels.LessonViewModel
@using Decanatus.DAL.Models;

@{
    ViewData["Title"] = "Видалити заняття";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreationDateTime" disabled/>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="LessonWeekType" class="control-label"></label>
                <select asp-for="LessonWeekType" class="form-control"
                        asp-items="Html.GetEnumSelectList<LessonWeekType>()" disabled>
                </select>
                <span asp-validation-for="LessonWeekType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <select asp-for="DayOfWeek" class="form-control"
                        asp-items="Html.GetEnumSelectList<UkrainianDayOfWeek>()" disabled>
                </select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonNumber" class="control-label"></label>
                <select asp-for="LessonNumber" asp-items="Model.AllLessonNumbers" disabled></select>
                <span asp-validation-for="LessonNumber" class="text-danger"></span>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <select asp-for="Subject" asp-items="Model.AllSubjects" disabled></select>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonType" class="control-label"></label>
                <select asp-for="LessonType" class="form-control"
                        asp-items="Html.GetEnumSelectList<LessonType>()"  disabled>
                </select>
                <span asp-validation-for="LessonType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audience" class="control-label"></label>
                <select asp-for="Audience" asp-items="Model.AllAudiences" disabled></select>
                <span asp-validation-for="Audience" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class="form-group">
        <label asp-for="Lecturers" class="control-label"></label>
        <select asp-for="Lecturers" asp-items="Model.AllLecturers" disabled></select>
        <span asp-validation-for="Lecturers" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Groups" class="control-label"></label>
        <select asp-for="Groups" asp-items="Model.AllGroups" disabled></select>
        <span asp-validation-for="Groups" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <button asp-controller="Schedule" asp-action="Configure" class="btn btn-secondary">Скасувати</button>  
    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap4.min.css"/>
}

