@model Decanatus.BLL.ViewModels.GradeViewModel
@using Decanatus.DAL.Models;

@{
    ViewData["Title"] = "Додати оцінку";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Оберіть групу</label>
                    <select asp-for="GroupsId" asp-items="Model.Groups"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Введіть максимальну оцінку</label>
                    <input asp-for="MaxAmount" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Оберіть тип оцінки</label>
                    <select asp-for="GradeType" asp-items="Html.GetEnumSelectList<GradeType>()"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Оберіть дату</label>
                    <input asp-for="Date" class="form-control"></input>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" asp-controller="Grade" asp-action="Create" value="Далі" class="btn btn-primary" />
        <button asp-controller="Grade" asp-action="Configure" class="btn btn-secondary">Скасувати</button>
    </div>
</form>


@section Scripts {
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap4.min.css" />
}

